---
BasedOnStyle: Google
Language: Cpp
AccessModifierOffset: '-2'
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AlignConsecutiveMacros: AcrossComments
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveDeclarations: Consecutive
AlignEscapedNewlines: Left
AlignTrailingComments: true
AlignOperands: Align
AllowAllConstructorInitializersOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'true'
AllowShortBlocksOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Inline
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  IndentBraces: false
  BeforeWhile: false
  BeforeLambdaBody: false
  BeforeElse: false
  BeforeCatch: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterCaseLabel: false
  AfterControlStatement: Never
BinPackParameters: true
BreakConstructorInitializers: AfterColon
BreakBeforeTernaryOperators: true
CompactNamespaces: 'false'
Cpp11BracedListStyle: 'false'
FixNamespaceComments: true
IndentWidth: '4'
IncludeBlocks: Preserve
ReflowComments: false
SpaceAfterLogicalNot: 'false'
SpaceAfterTemplateKeyword: 'false'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeCpp11BracedList: 'false'
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterForeachMacros: true
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false
  AfterIfMacros: true
  AfterOverloadedOperator: false
  BeforeNonEmptyParentheses: false
SpaceBeforeRangeBasedForLoopColon: 'true'
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'false'
TabWidth: '4'
UseTab: ForContinuationAndIndentation

# For 14.0.0 